<h1>Admin::Players#edit</h1>
<div class="container">
  <%= form_with model: @player, url: admin_player_path(@player.id), local:true do |f| %>
  
  <table class="table">
    <tr class="form-group">
      <th><label for="name">選手名</label> </th>
      <td><%= f.text_field :name %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="lead_name">選手名(英語)</label> </th>
      <td><%= f.text_field :lead_name %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="team">所属チーム</label></th>
      <td><%= f.collection_select(:team_id, @teams, :id, :name) %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="number">背番号</label></th>
      <td><%= f.text_field :number %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="position">ポジション</label></th>
      <td><%= f.select :position, Player.positions.keys,  { class: 'form-control' , required: true } %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="country">国籍</label></th>
      <td><%= f.text_field :country %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="foot">利き足</label></th>
      <td><%= f.select :foot, Player.foots.keys, { class: 'form-control' , required: true } %></td>
    </tr>
    
    <tr class="form-group">
      <th><label for="birthday">誕生日</label></th>
      <td><%= f.text_field :birthday %>  例：19950915</td>
    </tr>
    
    <tr class="form-group">
      <th><label for="height">身長</label></th>
      <td><%= f.text_field :height %>cm</td>
    </tr>
    
    <tr class="form-group">
      <th><label for="weight">体重</label></th>
      <td><%= f.text_field :weight %>kg</td>
    </tr>
        
    <tr class="form-group">
      <th><label for="active">現役</label></th>
      <td><%= f.select :is_active, Player.is_actives.keys, { class: 'form-control' , required: true } %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit '変更する', class: "btn btn-success" %>
  </div>
  <% end %>
</div>