<h1>Admin::Teams#index</h1>
<div class="container">

<%= link_to '追加する', new_admin_team_path, class: "btn btn-primary" %>
<table class="table">
  <thead>
    <tr>
      <th>所属リーグ</th>
      <th>チーム名</th>
      <th></th>
    </tr>
  </thead>
  
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.league.name %></td>
      <td><%= link_to team.name, admin_team_path(team.id) %></td>
      <td><%= link_to 'edit', edit_admin_team_path(team.id), class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'ホーム', admin_homes_top_path %>
</div>